
<button mat-button [matMenuTriggerFor]="inventoryMenu">Billing</button>
<mat-menu #inventoryMenu="matMenu">
  <button routerLinkActive="active" routerLink="/items" mat-menu-item>Bills</button>
  <button routerLinkActive="active" routerLink="/details" mat-menu-item>Bill Details</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="settingsMenu">Settings</button>
<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item>My Profile</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="payrollMenu">Payroll</button>
<mat-menu #payrollMenu="matMenu">
  <button mat-menu-item>Payroll Changes</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="reportsMenu">Reports</button>
<mat-menu #reportsMenu="matMenu">
  <button mat-menu-item>Sales By Item</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="transactionsMenu">Transactions</button>
<mat-menu #transactionsMenu="matMenu">
  <button mat-menu-item>Banking</button>
</mat-menu>