mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0;
  box-shadow: 0 .5rem 1rem #2c33491a;

  .mat-toolbar {
    background: inherit;

    &.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

.mat-expansion-panel-header {
  padding: 0 0.5rem;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background: none;
}

.additional-info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 0 0.5rem;
  font-size: small;
}

.mat-mdc-list {
  padding: 0;
}