<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar (click)="onShowHeader()">HMC Template</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Main</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item routerLink="/home">Dashboard</mat-list-item>
        <mat-list-item routerLink="/items">Items</mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Users</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>Users</mat-list-item>
        <mat-list-item>Roles</mat-list-item>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Sales</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>Sales Orders</mat-list-item>
        <mat-list-item>Pick & Pack</mat-list-item>
        <mat-list-item>Invoices</mat-list-item>
      </mat-expansion-panel>
      
      <div class="additional-info">
        <p>© 2024 HMC Template</p>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>           
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>