mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0;
  box-shadow: 0 .5rem 1rem #2c33491a;

  .mat-toolbar {
    background: inherit;

    &.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}