<mat-toolbar class="bg-white">
  <span class="title" routerLink="/">ePurchase</span>
  <app-search-list></app-search-list>
  <span class="spacer"></span>
  <app-nav-items></app-nav-items>
  <!-- <app-comments [localComments]="actions.Comments"></app-comments> -->
  <div class="profile-wrapper">
    <!-- TODO Add profile photo -->
    <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
    <!-- <img src="/assets/icons/profile-image-icon.png" /> -->
    <button class="dropdown menu-title" mat-button [matMenuTriggerFor]="profileMenu">
      Moshe Schwarts
      <!-- TODO Add users full name -->
    </button>
  </div>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLinkActive="active" routerLink="">My Profile</button>
    <button mat-menu-item>Log Out</button>
  </mat-menu>
</mat-toolbar>