mat-toolbar {
  position: sticky;
  top: 0;
  box-shadow: 0 .5rem 1rem #2c33491a;
}

.mat-toolbar-single-row {
  padding: 0 24px;
}

.spacer {
  flex: 1 1 auto;
}

.title { 
  color: #005cbb; /* TODO Add primary color */
  cursor: pointer;
  font-size: initial;
  padding: 0 1rem;
}