<button class="btn btn-x-sm dropdown-sm shadow-sm" (click)="toggleOpen()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  Select item
  <mat-icon class="material-symbols-outlined icon-sm">arrow_drop_down</mat-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  >
  <ul class="dropdown-menu shadow">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>          
  </ul>
</ng-template>  