<div class="dropdown-container" [class.show]="isOpen">
  <button class="dropdown-toggle" mat-button type="button" (click)="toggleDropdown()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <span class="material-symbols-outlined icon-sm">apartment</span>
    {{ selectedItem ? selectedItem : 'Select a company' }}
  </button>
  <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  >
    <div class="dropdown-menu" [class.show]="isOpen">
      <input type="search" class="form-control form-control-sm mb-2 mx-1" placeholder="Search..." [(ngModel)]="searchTerm" (input)="filterItems()">
      <div class="dropdown-items-container">
        <ng-container *ngFor="let item of filteredItems">
          <button class="dropdown-item" (click)="selectItem(item)">
            {{ item.name }}
          </button>
          <ng-container *ngFor="let subItem of item.subItems">
            <button class="dropdown-item ps-4" (click)="selectItem(subItem)">
              {{ subItem.name }}
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>