.main-wrapper {
  display: flex;
  align-items: center;
}

.content-wrapper {
  position: absolute;
  top: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  /*max-height: 300px;
overflow-y: auto;*/
  z-index: 500;
  font-size: 14px;
  box-shadow: 1px 0rem 1rem rgb(0 0 0 / 15%);
}

.static-search {
  position: sticky;
  top: 0;
  background-color: white;
  border-top: 0.5rem solid white;
  border-bottom: 0.5rem solid white;
  padding: 0 15px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

li {
  cursor: pointer;
  padding: 5px 15px;

  &:not(:first-of-type) {
    border-top: 1px solid #dfdfdf;
  }

  &:hover {
    color: #1573FF;
  }

}

.company-wrapper {
  position: relative;
}

::ng-deep .mat-mdc-menu-content {
  min-width: 145.3px; /* Adjust based on your design */
}