<div class="d-flex">
  <button mat-button (click)="isOpened = !isOpened" [matMenuTriggerFor]="companyMenu">
    <mat-icon class="material-symbols-outlined">apartment</mat-icon>
    <span>{{companyName}}</span>
    <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
  </button>

  <mat-menu #companyMenu="matMenu">
    <button mat-menu-item>Items</button>
  </mat-menu>

  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">chevron_left</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">chevron_right</mat-icon>
  </button>
</div>