@use "./hmc-colors" as colors;
@use "./hmc-mixins" as mixins;
@use "./hmc-tables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 0.9rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  scrollbar-color: #d3d6da #f1f1f1; // thumb and track color
  scrollbar-width: thin; // similar to 'width: 3px;' in WebKit
}

.form-control:focus {
  box-shadow: none;
}

.content {
  flex: 1;
  padding: 24px;
  background-color: #edf1f7;
  overflow-y: auto;
}

.spacer {
  flex: 1 1 auto;
}

.bg-inherit {
  background-color: inherit !important;
}

button.mat-icon-btn-sm {
  height: 27px; // 20 for td
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  mat-icon {
    font-size: 16px;
    line-height: 24px;
  }

  .mat-mdc-button-touch-target {
    height: 27px;
    width: 27px;
  }
}

.card {
  border: none;
}

.dropdown-menu {
  display: block;
  border: none;
  box-shadow: var(--bs-box-shadow-sm);
}

.dropdown-item {
  font-size: 0.9rem;

  &:active,
  &.active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
  }

  label input {
    margin-right: 0.25rem;
  }
}

.search-input {
  background-color: #edf1f7;
}

.card-footer {
  border: none;
}

.fs-small {
  font-size: small;
}

.card-sm {
  .card-header,
  .card-footer {
    padding: 0.5rem 0.5rem;
  }

  h5 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.text-right {
  text-align: right;
}

.sticky-top {
  z-index: 999;
}