<div class="container-fluid">  
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active" aria-current="page">Items</li>
    </ol>
  </nav>
  <!-- Table actions toolbar -->
  <mat-toolbar class="px-0 bg-inherit">
    <!-- Search input -->
    <input type="search" placeholder="Search..." class="form-control me-1">
    <!-- Filter buttons -->
    <button mat-icon-button matTooltip="Filter table columns">
      <mat-icon class="material-symbols-outlined">filter_alt</mat-icon>
    </button>    
    <button mat-icon-button matTooltip="Clear table filters">
      <mat-icon class="material-symbols-outlined" color="warn">filter_alt_off</mat-icon>
    </button>
    <!-- Filtered items -->
    <mat-chip-set aria-label="Fish selection" class="ms-2">
      <mat-chip>
        Active
        <button matChipRemove >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <mat-chip>
        Inactive
        <button matChipRemove >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <mat-chip>
        Deleted
        <button matChipRemove >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-set>
    <span class="spacer"></span>
    <!-- Other actions -->
    <button mat-icon-button matTooltip="Create sales order">
      <mat-icon class="material-symbols-outlined">add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Print packing slip">
      <mat-icon class="material-symbols-outlined">print</mat-icon>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <!-- Table tabs -->
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="First">
      <div class="my-3">
        <app-table [responsive]="true" [maxTableHeight]="'300px'"></app-table>
      </div>
    </mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>    
</div>