<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active" aria-current="page">Items</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between my-2">
    <input type="search" placeholder="Search..." class="form-control">
    <div class="d-inline-flex">
      <button mat-button color="primary">
        <mat-icon>add</mat-icon>
        Create Sales Order
      </button>
      <button mat-button color="primary">
        <mat-icon>print</mat-icon>
        Print Packing Slip
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="sticky-top">
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>R1C1</td>
          <td>R1C2</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">Details</button>
          </td>
        </tr>
        <tr>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
        </tr>
        <tr>
          <td>R1C1</td>
          <td>R1C2</td>
          <td>R1C3</td>
        </tr>
        <tr>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
        </tr>
        <tr>
          <td>R1C1</td>
          <td>R1C2</td>
          <td>R1C3</td>
        </tr>
        <tr>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
        </tr>
        <tr>
          <td>R1C1</td>
          <td>R1C2</td>
          <td>R1C3</td>
        </tr>
        <tr>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>