.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1580137189272-c9379f8864fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
}

.full-width {
  width: 100%;
}

.login-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  margin-top: 1rem;
  text-align: center;

  a {
    color: #005cbb;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}