@use '../../../styles/custom-colors' as colors;

@mixin text-ellipsis($max-width) {
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $max-width;
}

@mixin status($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Prevents tab labels from stretching */
::ng-deep .mat-mdc-tab-labels {
  justify-content: center;
}

/* Ensures each tab label fits its content */
::ng-deep .mat-mdc-tab.mdc-tab {
  flex-grow: 0 !important;
  min-width: 200px;
}

/* Material Card */
.mat-mdc-card-content {
  padding-right: 0;
  padding-left: 0;
}

.bills-card {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.bill-count {
  font-size: 2rem;
  font-weight: 500;
}

/* Card table styles */
table {
  width: 100%;
}

.table {
  margin-bottom: 0;
}

/* Adds ellipsis to overflowing text */ 
td, th {
  @include text-ellipsis(150px);
}

th {
  background-color: #edf1f7 !important;
  font-weight: 500;
}

th:first-child, td:first-child {
  padding-left: 20px;
}

th:last-child, td:last-child {
  padding-right: 20px;
}

.status-denied {
  @include status(white,colors.$danger);
}

.status-pending {
  @include status(white,colors.$primary);
}

.status-approved {
  @include status(white,colors.$success);
}

.footer {
  margin-top: 10px;
  color: #666;
  padding: 0 16px;
  font-size: 14px;
}

/* Material sticky table header */
::ng-deep .mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 10; /* ensure the header is above other content */
  background-color: #fff; /* match the background to your table/card theme */
}

/* Bootstrap sticky table header */
.sticky-top {
  position: sticky;
  top: 0; /* Ensure the header sticks to the top of the scrollable area */
  z-index: 1020; /* Above fixed elements but below modal overlays */
}

.table-responsive {
  max-height: 211px; /* Adjust based on your needs */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Bootstrap card */
.card {
  max-width: 400px;
}

.card-header {
  font-size: 14px;
  padding: 15px 20px;
}

.card-footer {
  background-color: white;
  border-top: 0;
  font-size: 14px;
  padding: 15px 20px;
}

.badge {
  padding: 0.5em 0.75em;
  font-weight: inherit;
}