@use '../../../styles/hmc-colors' as colors;

@mixin status($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Material Card */
.mat-mdc-card-content {
  padding-right: 0;
  padding-left: 0;
}

.bills-card {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.bill-count {
  font-size: 2rem;
  font-weight: 500;
}

th:first-child, td:first-child {
  padding-left: 20px;
}

th:last-child, td:last-child {
  padding-right: 20px;
}

.status-denied {
  @include status(white,colors.$danger);
}

.status-pending {
  @include status(white,colors.$primary);
}

.status-approved {
  @include status(white,colors.$success);
}

.footer {
  margin-top: 10px;
  color: #666;
  padding: 0 16px;
  font-size: 14px;
}

/* Material sticky table header */
::ng-deep .mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 10; /* ensure the header is above other content */
  background-color: #fff; /* match the background to your table/card theme */
}

.table-responsive {
  max-height: 211px; /* Adjust based on your needs */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Bootstrap card */
.card {
  max-width: 400px;
}

.card-header {
  font-size: 14px;
  padding: 15px 20px;
}

.card-footer {
  background-color: white;
  border-top: 0;
  font-size: 14px;
  padding: 15px 20px;
}

.badge {
  padding: 0.5em 0.75em;
  font-weight: inherit;
}