<div class="container-fluid">
  <mat-toolbar class="bg-inherit p-0">
    <nav class="breadcrumb mb-0 fs-6">
      <a class="breadcrumb-item text-decoration-none" href="/items">Items</a>
      <span class="breadcrumb-item active" aria-current="page">Bill #791014</span>
    </nav>
    <span class="spacer"></span>
    <button mat-icon-button  matTooltip="Open PDF Viewer" (click)="togglePdfViewer()">
      <mat-icon class="material-symbols-outlined">picture_as_pdf</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Main Content Area -->
  <div class="row">
    <div [ngClass]="{'col-md-12': !isPdfViewerVisible, 'col-md-6': isPdfViewerVisible}">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row g-3 detail-cols">
            <div class="col">
              <div class="form-group mb-2">
                <label for="transactionType" class="form-label text-body-secondary">Transaction Type</label>
                <select class="form-control form-control-sm" id="transactionType">
                  <option>Bill</option>
                  <!-- Other options -->
                </select>
              </div>
              <div class="form-group mb-2">
                <label for="dateEntered" class="form-label text-body-secondary">Date Entered</label>
                <input type="date" class="form-control form-control-sm" id="dateEntered">
              </div>
              <div class="form-group mb-2">
                <label for="number" class="form-label text-body-secondary">Number</label>
                <input type="text" class="form-control form-control-sm" id="number">
              </div>
              <div class="form-group">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
            </div>
            <div class="col">
              <div class="form-group mb-2">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
              <div class="form-group mb-2">
                <label for="amount" class="form-label text-body-secondary">Amount</label>
                <input type="text" class="form-control form-control-sm" id="amount">
              </div>
              <div class="form-group mb-2">
                <label for="amount" class="form-label text-body-secondary">Amount</label>
                <input type="text" class="form-control form-control-sm" id="amount">
              </div>
              <div class="form-group">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
            </div>
            <div class="col">
              <div class="form-group mb-2">
                <label for="amount" class="form-label text-body-secondary">Amount</label>
                <input type="text" class="form-control form-control-sm" id="amount">
              </div>
              <div class="form-group mb-2">
                <label for="dateEntered" class="form-label text-body-secondary">Date Entered</label>
                <input type="date" class="form-control form-control-sm" id="dateEntered">
              </div>
              <div class="form-group mb-2">
                <label for="number" class="form-label text-body-secondary">Number</label>
                <input type="text" class="form-control form-control-sm" id="number">
              </div>
              <div class="form-group">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
            </div>
            <div class="col">
              <app-file-upload 
                [acceptedTypes]="'.jpg,.png,application/pdf'"
                [maxSize]="10485760"
                [multiple]="true"
                (filesSelected)="handleFiles($event)"
                ></app-file-upload>
            </div>
            <div class="col d-grid">
              <button mat-raised-button extended color="warn" class="mb-2">
                <mat-icon class="material-symbols-outlined">delete</mat-icon>
                Delete Bill
              </button>
              <button mat-raised-button extended color="secondary" class="mb-2">
                <mat-icon class="material-symbols-outlined">move_groups</mat-icon>
                Move Bill
              </button>
              <button mat-raised-button extended color="secondary" class="mb-2">
                <mat-icon class="material-symbols-outlined">file_copy</mat-icon>
                Copy Bill
              </button>
              <button mat-raised-button extended color="primary" class="mb-2">
                <mat-icon class="material-symbols-outlined">check</mat-icon>
                Approved
              </button>
              <button mat-raised-button color="primary">Approved & Next</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Item List Table -->
      <div class="card shadow-sm mb-4">
        <div class="card-body d-flex p-0">
          <div class="vertical-nav-item">
            <mat-icon class="material-symbols-outlined" (click)="toggleDropdown()">settings</mat-icon>
            <span class="vertical-text">Settings</span>
            @if (isOpen) {
              <div class="dropdown-menu settings-menu">
                @for (option of options; track $index) {
                <div class="dropdown-item">
                  <label>
                    <input type="checkbox" [(ngModel)]="option.selected" (change)="onCheckboxChange(option)">
                    {{option.name}}
                  </label>
                </div>
                }
              </div>
              }
          </div>
          <app-table [maxTableHeight]="'160px'" [responsive]="true" class="flex-fill"></app-table>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <div style="font-size: 0.9rem; gap: 1rem;" class="d-flex">
            <span class="text-muted">Subtotal:</span>
            <span class="text-muted">$189.65</span>
            <mat-divider [vertical]="true" class="h-100"></mat-divider>
            <span class="fw-semibold">Total:</span>
            <span class="text-primary">$195.65</span>
          </div>
        </div>
      </div>

      <!-- Account Info, Audit Log, Vendor Info -->
      <div class="row g-3 settings-cards">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card shadow-sm">
            <div class="card-header">
              Accounts
            </div>
            <div class="card-body p-0">
              <div class="table-responsive" style="max-height: 160px;">
                <table class="table">
                  <thead class="sticky-top">
                    <tr>
                      <th>
                        <app-table-header [headerText]="'Account'" [addFilter]="true" [addSort]="false"></app-table-header>
                      </th>
                      <th>
                        <app-table-header [headerText]="'Amount'" [addFilter]="true" [addSort]="false"></app-table-header>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <td>Subtotal:</td>
                      <td>$195.65</td>
                    </tr>
                  </tfoot> -->
                </table>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <span class="text-muted">Subtotal:</span>
              <span class="text-primary">$20,436.45</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card shadow-sm">
            <div class="card-header">
              Audit Logs
            </div>
            <div class="card-body">
              <p class="text-primary">Approved</p>
              <p class="text-muted">05/02/2023 9:51 AM</p>
              <i>Filed</i>    
              <hr>
              <p class="text-primary">Approved</p>
              <p class="text-muted">05/02/2023 9:51 AM</p>
              <i>Filed</i> 
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card shadow-sm">
            <div class="card-header">
              Vendor Previous Bills
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <p>#230502</p>
                  <p class="text-muted">05/02/2023</p>
                  <i>Filed</i>
                </div>
                <div class="col-4 text-right">
                  <p class="text-primary">$298.16</p>
                  <div class="d-flex justify-content-end">
                    <button mat-icon-button class="mat-icon-btn-sm">
                      <mat-icon class="material-symbols-outlined">attach_file</mat-icon>
                    </button>
                    <button mat-icon-button class="mat-icon-btn-sm">
                      <mat-icon class="material-symbols-outlined">download</mat-icon>
                    </button>
                  </div>
                </div>
              </div>          
              <hr>
              <div class="row">
                <div class="col-8">
                  <p>#230502</p>
                  <p class="text-muted">05/02/2023</p>
                  <i>Filed</i>
                </div>
                <div class="col-4 text-right">
                  <p class="text-primary">$298.16</p>
                  <div class="d-flex justify-content-end">
                    <button mat-icon-button class="mat-icon-btn-sm">
                      <mat-icon class="material-symbols-outlined">attach_file</mat-icon>
                    </button>
                    <button mat-icon-button class="mat-icon-btn-sm">
                      <mat-icon class="material-symbols-outlined">download</mat-icon>
                    </button>
                  </div>
                </div>
              </div>   
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card shadow-sm">
            <div class="card-header">
              Vendor Address
            </div>
            <div class="card-body">
              <p class="d-flex align-items-center">
                <span class="material-symbols-outlined icon-sm me-2">location_on</span>
                <span class="fw-semibold">Suddenlink 112949-02-8 ,</span>
              </p>
              <p>Account No: <span class="fw-semibold">#</span></p>
              <p>Open Balance: <span class="fw-semibold">$298.16</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column 2 (PDF Viewer) -->
    @if (isPdfViewerVisible) {
    <div class="col-md-6">
      <div class="pdf-viewer">
        <app-pdf-viewer></app-pdf-viewer>
      </div>
    </div>
    }
  </div>
</div>
