<div class="container-fluid">
  <mat-toolbar class="bg-inherit p-0">
    <nav class="breadcrumb mb-0 fs-6">
      <a class="breadcrumb-item text-decoration-none" href="/items">Items</a>
      <span class="breadcrumb-item active" aria-current="page">Bill #791014</span>
    </nav>
    <span class="spacer"></span>
    <button mat-icon-button (click)="togglePdfViewer()">
      <mat-icon class="material-symbols-outlined">picture_as_pdf</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Main Content Area -->
  <div class="row">
    <div [ngClass]="{'col-md-12': !isPdfViewerVisible, 'col-md-6': isPdfViewerVisible}">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row gx-3">
            <div class="col">
              <div class="form-group mb-2">
                <label for="transactionType" class="form-label text-body-secondary">Transaction Type</label>
                <select class="form-control form-control-sm" id="transactionType">
                  <option>Bill</option>
                  <!-- Other options -->
                </select>
              </div>
              <div class="form-group mb-2">
                <label for="dateEntered" class="form-label text-body-secondary">Date Entered</label>
                <input type="date" class="form-control form-control-sm" id="dateEntered">
              </div>
              <div class="form-group mb-2">
                <label for="number" class="form-label text-body-secondary">Number</label>
                <input type="text" class="form-control form-control-sm" id="number">
              </div>
              <div class="form-group">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
            </div>
            <div class="col">
              <div class="form-group mb-2">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
              <div class="form-group mb-2">
                <label for="amount" class="form-label text-body-secondary">Amount</label>
                <input type="text" class="form-control form-control-sm" id="amount">
              </div>
              <div class="form-group mb-2">
                <label for="amount" class="form-label text-body-secondary">Amount</label>
                <input type="text" class="form-control form-control-sm" id="amount">
              </div>
              <div class="form-group">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
            </div>
            <div class="col">
              <div class="form-group mb-2">
                <label for="amount" class="form-label text-body-secondary">Amount</label>
                <input type="text" class="form-control form-control-sm" id="amount">
              </div>
              <div class="form-group mb-2">
                <label for="dateEntered" class="form-label text-body-secondary">Date Entered</label>
                <input type="date" class="form-control form-control-sm" id="dateEntered">
              </div>
              <div class="form-group mb-2">
                <label for="number" class="form-label text-body-secondary">Number</label>
                <input type="text" class="form-control form-control-sm" id="number">
              </div>
              <div class="form-group">
                <label for="receivingNo" class="form-label text-body-secondary">Receiving No</label>
                <input type="text" class="form-control form-control-sm" id="receivingNo">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <div class="d-flex align-items-center">
                  <label for="file" class="form-label text-body-secondary">File Upload</label>
                  <span class="spacer"></span>
                  <button mat-icon-button class="mat-icon-btn-sm">
                    <mat-icon class="material-symbols-outlined">list</mat-icon>
                  </button>
                  <button mat-icon-button class="mat-icon-btn-sm">
                    <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
                  </button>
                  <button mat-icon-button class="mat-icon-btn-sm">
                    <mat-icon class="material-symbols-outlined">open_in_full</mat-icon>
                  </button>
                  <button mat-icon-button class="mat-icon-btn-sm">
                    <mat-icon class="material-symbols-outlined">edit</mat-icon>
                  </button>
                </div>
                <input type="file" class="form-control form-control-sm" id="file">
              </div>
              <div class="card shadow-sm mt-2">
                <div class="card-body d-flex align-items-center p-2">
                  <img src="../../../assets/images/example-pdf-img.png" class="me-2 object-fit-cover" width="40"
                    height="40">
                  <span class="me-2 text-truncate fs-small">Bill Page 1</span>
                  <button mat-icon-button class="mat-icon-btn-sm">
                    <mat-icon class="material-symbols-outlined">rotate_right</mat-icon>
                  </button>
                  <button mat-icon-button class="mat-icon-btn-sm">
                    <mat-icon class="material-symbols-outlined">rotate_left</mat-icon>
                  </button>
                  <mat-icon class="material-symbols-outlined icon-sm">drag_indicator</mat-icon>
                </div>
              </div>
            </div>
            <div class="col d-flex align-items-end justify-content-end">
              <button mat-button>Cancel</button>
              <button mat-button>Save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Item List Table -->
      <div class="card shadow-sm">
        <div class="card-body p-0">
          <app-table [maxTableHeight]="'160px'" [responsive]="true"></app-table>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <div style="font-size: 0.9rem; gap: 1rem;" class="d-flex">
            <span class="text-muted">Subtotal:</span>
            <span class="text-muted">$189.65</span>
            <mat-divider [vertical]="true" class="h-100"></mat-divider>
            <span class="fw-bold">Total:</span>
            <span class="text-primary">$195.65</span>
          </div>
        </div>
      </div>

      <mat-toolbar class="bg-inherit p-0">
        <div class="dropdown">
          <button (click)="toggleDropdown()" mat-icon-button class="my-3">
            <mat-icon class="material-symbols-outlined">settings</mat-icon>
          </button>
          @if (isOpen) {
          <div class="dropdown-menu settings-menu">
            @for (option of options; track $index) {
            <div class="dropdown-item">
              <label>
                <input type="checkbox" [(ngModel)]="option.selected" (change)="onCheckboxChange(option)">
                {{option.name}}
              </label>
            </div>
            }
          </div>
          }
        </div>
      </mat-toolbar>

      <!-- Account Info, Audit Log, Vendor Info -->
      <div class="row">
        <div class="col">
          <div class="card card-sm shadow-sm mb-4">
            <div class="card-header bg-white">
              <h5>Account</h5>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive" style="max-height: 160px;">
                <table class="table">
                  <thead class="sticky-top">
                    <tr>
                      <th class="text-body-secondary">Account</th>
                      <th class="text-body-secondary text-right">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                    <tr>
                      <td>#82133</td>
                      <td align="right">$20,436.45</td>
                    </tr>
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <td>Subtotal:</td>
                      <td>$195.65</td>
                    </tr>
                  </tfoot> -->
                </table>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-primary-subtle">
              <span class="text-primary">Subtotal:</span>
              <span class="text-primary">$20,436.45</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm mb-4">
            <div class="card-header">
              <h5>Audit Log</h5>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 160px;">
              card content
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm mb-4">
            <div class="card-header">
              <h5>Vendor Address</h5>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 160px;">
              card content
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm mb-4">
            <div class="card-header">
              <h5>Vendor Address</h5>
            </div>
            <div class="card-body table-responsive p-0" style="max-height: 160px;">
              card content
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column 2 (PDF Viewer) -->
    @if (isPdfViewerVisible) {
    <div class="col-md-6">
      <div class="pdf-viewer">
        <app-pdf-viewer></app-pdf-viewer>
      </div>
    </div>
    }
  </div>
</div>