<div 
  [class.table-responsive]="responsive()" 
  [style.max-height]="maxTableHeight()">
  <table class="table table-hover">
    <thead class="sticky-top">
      <tr>
        <th class="min-w-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div> 
        </th>
        <th>
          <app-table-header [headerText]="'Button'" [addFilter]="true" [addSort]="true"></app-table-header>
        </th>
        <th>
          <app-table-header [headerText]="'Select'" [addFilter]="true" [addSort]="true"></app-table-header>
        </th>
        <th>
          <app-table-header [headerText]="'Tags'" [addFilter]="true" [addSort]="true"></app-table-header>
        </th>
        <th>
          <app-table-header [headerText]="'Text Input'" [addFilter]="true" [addSort]="true"></app-table-header>
        </th>
        <th>
          <app-table-header [headerText]="'Number Input'" [addFilter]="true" [addSort]="true"></app-table-header>
        </th>
        <th class="text-body-secondary text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>          
        </td>
        <td>
          <button class="btn btn-x-sm shadow-sm">Send</button>
        </td>
        <td>
          <app-custom-select></app-custom-select>
        </td>
        <td>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center overflow-auto">
              <span class="badge rounded-pill text-bg-primary me-1">Primary</span>
              <span class="badge rounded-pill text-bg-secondary me-1">Secondary</span>
              <span class="badge rounded-pill text-bg-success me-1">Success</span>
              <span class="badge rounded-pill text-bg-danger">Danger</span>
            </div>
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="primary">add</mat-icon>
            </button>
          </div>
        </td>        
        <td>
          <input type="text" class="form-control form-control-sm">
        </td>
        <td><input type="number" class="form-control form-control-sm"></td>
        <td>
          <div class="d-flex justify-content-center">
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="warn">delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>          
        </td>
        <td>Wade Warren</td>
        <td>Expense Added</td>
        <td>82133-EQUIPMENT REN</td>
        <td>1</td>
        <td>$20,436.91</td>
        <td>
          <div class="d-flex justify-content-center">
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="warn">delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>          
        </td>
        <td>Wade Warren</td>
        <td>Expense Added</td>
        <td>82133-EQUIPMENT REN</td>
        <td>1</td>
        <td>$20,436.91</td>
        <td>
          <div class="d-flex justify-content-center">
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="warn">delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>          
        </td>
        <td>Wade Warren</td>
        <td>Expense Added</td>
        <td>82133-EQUIPMENT REN</td>
        <td>1</td>
        <td>$20,436.91</td>
        <td>
          <div class="d-flex justify-content-center">
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-btn-sm">
              <mat-icon class="material-symbols-outlined" color="warn">delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
    @if (showFooter()) {
      <tfoot class="sticky-bottom">
        <tr>
          <td colspan="100%" class="text-muted">
            <small>Showing 1 to 9 of 3,9099 records.</small>
          </td>
        </tr>
      </tfoot>
    }    
  </table>
</div>